body{
    font-family: Arial,sans-serif;
    background-color: rgb(217, 247, 247);
}
h1{
    color: red;
}
form{
    background-color: white;
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 27px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(74, 71, 71);
}
form:hover{
    box-shadow: 15px 15px 20px rgb(51, 36, 36);
}
#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px center black;
    border-radius: 5px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: greenyellow;
    color: rgb(73, 73, 107);
    font-size: 1.5em;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(64, 187, 64);
}
#result{
    font-size: 1.75em;
    font-weight: bold;
}
